.header{
  position: absolute;
  top: 150%;
  width: 100%;
  height: 550px;
  min-width:1500px;  
  /* display: none; */
  
}
#toTop{
  display: none;
}
.header .nav{
  width: 100%;
  height: 60px;
  position: relative;
  padding-left: 30px;
  z-index: 20000;
  background: slateblue;

}
#center{
  margin: 0 auto;
  max-width: 1500px;
}
#center::after{
  clear: both;
  content: "";
  display: block;
}
/* 左边 */
.nav .left{
  float: left;
  position: absolute;
  z-index: 1500;
  width: 653px;
  height: 60px;
}
/* logo */
.nav .left>div>a{
  text-align: left;
}
.nav .left>div>a>img{
  width: 12%;
  padding-top: 11px;
}
.nav .left ul{
  position: absolute;
  top: 0;
  left: 116px;
}
.nav .left .previous-menu>li{
 float: left; 
 padding: 15px 10px;
 border-top: 3px solid transparent;
 cursor: pointer;
}
.nav .left .previous-menu>li:hover{
  border-top: 3px solid #ffffff;
  transition: .2s linear;
}
.nav .left .previous-menu>li>a{
  font-size: 16px;
  font-weight: bolder;
  color: #ffffff;
}
.nav .left .previous-menu>li:nth-child(4),.nav .left .previous-menu>li:nth-child(7),.nav .left .previous-menu>li:nth-child(9){
 margin-left: -22px;
 color: #ffffff;
 font-size: 18px;
 border-top: 0px;
}
/* 二级菜单 */
.left .previous-menu>li:nth-child(3)>#secondary-menu{
   position: absolute;
   top: 50px;
   width:200px;
   height: 240px;
   background: #ffffff;
   border-radius: 4px;
   /* display: none; */
}
#secondary-menu>li:first-child{
  margin-top: 3px;
}
.left .previous-menu>li:nth-child(3) #secondary-menu>li{
  padding: 4px 0;
}
.left .previous-menu>li:nth-child(3) #secondary-menu>li>a{
  color: #636363;
  padding:0 20px;
  font-size: 14px;
}
#secondary-menu>li:hover{
  background: #c4deb4;
}
/* 三级菜单 */
#level-menu{
  width: 560px;
  height: 323px;
  background: #ffffff;
  position: absolute;
  left: 203px;
  border-radius: 4px;
}
#level-menu li::after{
  content: "";
  display: block;
  clear: both;
}
#level-menu li>a{
  float: left;
  font-size: 12px;
  color: #636363;
  padding: 5px;
  margin: 3px 0;
  border-radius: 2px;
}
#level-menu li a:hover{
  background-color: #c4deb4;
}
#level-menu>li{
  width: 540px;
  font-size: 14px;
  margin: 0 auto;
  border-bottom: .8px dashed #e8e8e8;
}
#level-menu>li:first-child{
  border-bottom: .5px solid #e8e8e8;
}
#level-menu>li:last-child{
  border:0
}
#level-menu>li:first-child{
  padding:0 0 10px 0;
}
*{margin: 0;padding: 0;}
#level-menu li:first-child .a1{float: right;}
/* 兴趣小组 */
#level-menu li p{
  margin: 8px 0;
}
#level-menu li+li{
  position: relative;
}
#level-menu li ul{
  position: absolute;
  left: 83px;
  top: -7px;
  display: flex;
  flex-wrap: wrap;
}
#level-menu li ul li+li{
  margin-left: 10px;
 
}
/* 穷游欧洲 */
#level-menu li:nth-child(3) p{
  margin: 8px 0 40px 0;
}
#level-menu li:nth-child(3) li:nth-child(6){
  margin-left: 0;
}
/* 穷游亚洲 */
#level-menu li:nth-child(4) p{
  margin: 8px 0 40px 0;
}
#level-menu li:nth-child(4) li:nth-child(8){
  margin-left:0 ;
}
/* 商城 */
.left .previous-menu>li:nth-child(6) #shopping-menu{
  position: absolute;
  top: 50px;
  left: 280px;
  width:130px;
  height: 200px;
  background-color: #ffffff;
  border-radius:4px ; 
}
#shopping-menu li:first-child{
  margin-top: 5px;
}
#shopping-menu li a{
  font-size: 14px;
  color: #636363;
  /* padding-left: 15px;  */
  padding: 2px 0 2px 15px;
}
#shopping-menu li a:hover{
  background: #c4deb4;
}
/* 酒店,民宿 */
.left .previous-menu>li:nth-child(8) #hotel-menu{
  position: absolute;
  top: 50px;
  left: 345px;
  width: 120px;
  height: 80px;
  background: #ffffff;
  border-radius: 4px;
}
#hotel-menu li{
  margin: 5px 0;
}
#hotel-menu li a{
  color: #636363;
  font-size: 14px;
  padding:7px 0 7px 15px;
}
#hotel-menu li a:hover{
  background: #c4deb4;
}
/* js显示隐藏 */
#secondary-menu,#level-menu,#shopping-menu,#hotel-menu,#input{
  display: none;
}
/* 右边 */
.nav .right{
  float: right;
  height: 60px;
  position: relative;
}
.nav .right ul::after{
  content: "";
  display: block;
  clear: both;
}
.nav .right ul li{
  float: left;
  margin: 10px;
  line-height: 40px;
}
/* icon-font字体 */
.nav .right ul li a{
  color: #ffffff;
  font-size: 20px;
}
.nav .right ul li:nth-child(3){
  background: #ffffff;
  width: 1px;
  height: 15px;
  margin-top: 22px;
}
.nav .right ul li:nth-child(4) a{
  color: #ff5300;
}
/* 登录/注册字体 */
.nav .right ul li:nth-child(8) a,.nav .right ul li:nth-child(9) a{
   font-size: 16px;
   font-weight: bolder;
}
/* 输入框 */
.right ul li:first-child{
  width: 130px;
  height: 30px;
  position: relative;
  
}
.right ul li:first-child #input{
  width: 130px;
   top: 7px;
   left: 0px;
   outline: 0;
   border: 0;
   padding: 5px;
   padding-right: 25px;
   position: absolute;
   border-radius: 4px;
   transition: 0.5s linear;
   z-index: 2222;
}
.right ul li:nth-child(2){
  width: 26px;
  height: 26px;
  margin: 0;
  top: 17px;
  left: 113px;
  position: absolute;
  z-index: 332222;
}
.right ul li:nth-child(2) a{ 
  line-height: 25px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

}
.right ul li:nth-child(2) a:hover{
  color: rgb(33, 19, 230);
}
