.control{
  width: 380px;
  background: #ffffff;
  padding: 10px 30px;
}
#control{
  display: flex;
}
#control li{
  width: 165px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #323232;
  border-bottom: 1px solid #ddd;
}
.login_content{
  margin-left: -125px;
}

#control li.active{
  border-bottom: 2px solid #3f9f5f;
}
.control>span{
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #959595;
}
.control>span>a{
  display: inline;
  color: #3f9f5f;
}
.login_tab_content{
  width: 330px;
  color: #959595;
}
.login_email,.login_phone{
  display: none;

}
.login_email input{
  width: 330px;
  height: 40px;
  padding: 3px 7px;
  border: 1px solid #ddd;
  outline: none;
}
.login_email input+input{
  margin-top: 30px;
}
.span{
  display: flex;
  justify-content: flex-end;
  height: 30px;
}
.login_email>span>a{
  font-size: 12px ;
  color: #959595;
  margin-top: 5px;

}
 .isLogin{
  width: 330px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  border-radius: 3px;
  background: #3f9f5f;
}
.other{
  display: flex;
  justify-content: space-around;
  padding: 40px 0 10px 0;
}
.other li i{
  font-size: 40px;
  cursor: pointer;
  color: #d7d7d7;
}
.other li:first-child i{
  color: #ff5300;
}
/* hover */
.other li:nth-child(2) i:hover {
  color:#4a90e2 ;
}
.other li:nth-child(3) i:hover{
  color: #10b041
}
.other li:nth-child(4) i:hover{
  color: #e90e24
}
.other_wrap{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #959595;
  padding: 10px 0;
}
.other_wrap span a{
  display: inline-block;
  color: #07ae72
}
.other_wrap>a{
  color: #959595;
}
/* 短信登录 */
/* input共用 */
.login_phone input{
  border: 1px solid #ddd;
}
.select select{
  width: 85px;
  height: 40px;
  border: 1px solid #ddd;
}
.select input{
  width: 240px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
/* 识别码 */
.heading li{
  display: flex;
}
.heading li:first-child{
  padding: 30px 0;
}
.heading input{
  width: 200px;
  height: 40px;
  padding-left: 10px;
  font-size: 14px;
}
.heading li img{
  margin-left: 7px;
}
.heading li:nth-child(2) a{
  width: 125px;
  height: 40px;
  background: #3f9f5f;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  margin-left: 7px;
}

.login_content{
  display: flex;
}
/* 右边图片 */
.login_right img{
  width: 275px;
 height: 100%;
}
