input{

  outline: none;
}
.login_container{
  width: 100%;
  height: 765px;
  background: url(/images/index/login/ecb39528d488b6c520f7ddd3898379d6.jpg)no-repeat ;
  background-size: cover;
}
.login-wrapper{
  margin: 0 auto;
  padding: 60px 0;
  width: 380px;
}
.login-logo{
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.login-logo img{
  width: 128px;
  /* text-align: center; */
}
.login-logo .title{
  font-size: 24px;
  color: #fff;
  margin-top: 15px;
}
.login-section{
  width: 380px;
  height: 475px;
  background: #fff;
}
.q-login-layout{
  padding: 0 20px;
}
.q-login-form{
  padding-top: 30px;
}
.input-group {
  display: flex;
  position: relative;
}
.input-group .qui-select-text{
  width: 78px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0px 24px 0 10px;
  border: 1px solid #ddd;
}
.qui-select-text::after{
  position: absolute;
  top: -8px;
  left: 35px;
  transform: scale(.3);
  display: block;
  content: url(/images/index/login/下载.svg);
}
.input-group input{
  height: 40px;
  border :1px solid #ddd
}
.input-phone{
  width: 280px;
  margin-left: 5px;
  padding: 3px 7px;
}
.input-valid{
  width: 200px;
  margin-top: 30px;
  padding: 3px 7px;
}
.input-group img{
  width: 126px;
  height: 40px;
  margin-top: 30px;
  margin-left: 5px;
}
.login-form-control{
  margin-top: 30px;
}
.btn-valid{
  width:125px ;
  height: 40px;
  background: #3f9f5f;
  color: #fff;
  border: none;
  margin-top: 30px;
  margin-left: 5px;
  border-radius: 3px;
}
.login-form-control input{
  width: 330px;
  height: 40px;
  padding: 3px 7px;
  outline: none;
}
.btn{
  width: 330px;
  height: 40px;
  background: #3f9f5f;
  border-radius: 3px;
  color:#fff;
  border: none;
  font-size: 18px;
}
.q-login-bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  color: #959595;
}
.q-login-bottom span a{
  display: inline;
  color: #3f9f5f;
}
/* 侧边栏 */
.qui-loginFeedback{
  width: 286px;
  position: fixed;
  top: 150px;
  right: 0;
}
.icon{
  width: 40px;
  height: 166px;
  background: url(/images/index/login/zenbainl.png);

}
.cnt{
  width: 247px;
  height: 282px;
  position: absolute;
  left: 40px;
  top: 0;
  background: #fff; 
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  /* display: none; */
}
.cnt form{
  padding: 10px;
  position: relative;
  height: 243px;
}
.cnt textarea{
  width: 226px;
  height: 134px;
  border: 1px solid #ccc;
  padding: 3px;
  font-size: 12px;
  resize: none;
  outline: none;
}
.cnt .help{
  position: absolute;
  top: 143px;
  text-align: center;
  font-size: 12px;
  width: 226px;
  height: 25px;
  line-height: 25px;
  background: #dcffe2;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: none;
}
.cnt .help a{
  display: inline;
  color: #3f9f5f;
}
.cnt .label{
  font-size: 12px;
  color: #323232;
  margin-top: 25px;
  padding: 2px 0;
  height: 28px;
}
.cnt .txt{
  width: 226px;
  height: 24px;
  padding: 2px 5px;
  border: 1px solid #ccc;
}
.cnt .submitBtn{
  width: 58px;
  height: 28px;
  background: #3f9f5f;
  float: right;
  border:none;
  margin-top: 15px;
  color: #fff;
  border-radius: 3px;
}
/* footer */
.q-footer{
  width: 100%;
  height: 218px;
  background: #363636;
  padding: 30px 0;
}
.q-bottom{
  width: 980px;
  height: 163px;
  margin: 0 auto;
}
.top-wrap{
  display: flex;
} 
.top-wrap ul{
  width: 140px;
  height: 97px;
  
}
.top-wrap ul li h6{
  color: #c2c2c2;
  font-size: 12px;
  padding-bottom: 7px;
}
.top-wrap ul li a{
  color: #959595;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
}
.top-wrap ul:nth-child(5) li:nth-child(2){
  display: flex;
  flex-wrap: wrap;
  width: 90px;
}
.top-wrap ul:nth-child(5) li a{
  width: 20px;
  height: 20px;
  margin-right:10px;
  background: url(/images/index/login/99dfed4c272ecc64538d792b0f63b010.png);
}
.top-wrap ul:nth-child(5) li .a1{
  background-position: 135px 180px
}
.top-wrap ul:nth-child(5) li .a2{
  background-position:105px 180px
}
.top-wrap ul:nth-child(5) li .a3{
  background-position:75px 180px
}
.top-wrap ul:nth-child(5) li .a4{
  background-position: 135px 149px;
  
}
.top-wrap ul:nth-child(5) li .a5{
  background-position: 180px 180px
}
.top-wrap ul:nth-child(5) li .a6{
  background-position: 45px 150px
}
.top-wrap ul:nth-child(5) li .a4,.top-wrap ul:nth-child(5) li .a5,.top-wrap ul:nth-child(5) li .a6{
  margin-top: 8px;
}
.top-wrap ul:nth-child(6) li a{
  width: 135px;
  height: 40px;
  background: url(/images/index/login/99dfed4c272ecc64538d792b0f63b010.png);
  background-position: 135px 1186px;
}
.bottom-wrap{
  width: 980px;
  height: 46px;
  margin-top: 25px;
  display: flex;
}
.bottom-left img{
  width: 100px;
  height: 37px;
  margin-right: 10px;
}
.bottom-right div{
  font-size: 12px;
  color: #959595;
}
.bottom-right div a{
  display: inline;
  font-size: 12px;
  color: #959595;
}